.hover-info:hover {
    background: var(--cyan);
}

.btn-link {
    font-size: 1rem !important;
}

.dot-primary, .dot-warning, .dot-danger {
  width: 5px;
  height: 5px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 50%;
}

.dot-primary {
  background-color: #0078FF;
}

.dot-warning {
  background-color: #FFAE03;
}

.dot-danger {
  background-color: #E71838;
}

.hover-blue:hover {
  filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

.opacity-4 {
  opacity: .4;
}
