._line {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 1px solid $gray-600;
  background-color: $body-bg;
  transition: box-shadow 0.3s ease-in-out;
}

._line:hover {
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.15);
}
