.sidebar {
  background: $info;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  animation-duration: .5s;

  .menu-icon {
    position: fixed;
    top: 1.6rem;
  }

  .sidebar-menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      padding: 1.4rem 0;
      width: 100%;

      a {
        display: flex;

        p {
          color: $white;
          width: 100%;
          border-bottom: 1.5px solid #fff;
          font-size: 1.125rem;
          margin-left: 1.5rem;
          margin-bottom: .3rem;
          padding-bottom: .2rem;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    z-index: 1032;
    max-width: 350px;
  }

  ._content {
    width: calc(100% - 68px);
    margin-left: 68px;
  }

}

